<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpp.threat_perception_platform.dao.WeakPwdMapper">

    <resultMap id="BaseResultMap" type="com.tpp.threat_perception_platform.pojo.WeakPwd">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uName" column="u_name" jdbcType="VARCHAR"/>
            <result property="uPwd" column="u_pwd" jdbcType="VARCHAR"/>
            <result property="mac" column="mac" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,u_name,u_pwd,
        mac
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from weak_pwd
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="findAll" resultType="com.tpp.threat_perception_platform.pojo.WeakPwd">
        select
        <include refid="Base_Column_List" />
        from weak_pwd
        <where>
            <if test="param.keywords != null and param.keywords != ''">
                and (mac like concat('%',#{param.keywords},'%') or u_name like concat('%',#{param.keywords},'%') or u_pwd like concat('%',#{param.keywords},'%'))
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from weak_pwd
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.WeakPwd" useGeneratedKeys="true">
        insert into weak_pwd
        ( id,u_name,u_pwd
        ,mac)
        values (#{id,jdbcType=INTEGER},#{uName,jdbcType=VARCHAR},#{uPwd,jdbcType=VARCHAR}
        ,#{mac,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.WeakPwd" useGeneratedKeys="true">
        insert into weak_pwd
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="uName != null">u_name,</if>
                <if test="uPwd != null">u_pwd,</if>
                <if test="mac != null">mac,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="uName != null">#{uName,jdbcType=VARCHAR},</if>
                <if test="uPwd != null">#{uPwd,jdbcType=VARCHAR},</if>
                <if test="mac != null">#{mac,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <insert id="insertSelectiveBatch">
        insert into weak_pwd
        (id,u_name,u_pwd,mac)
        values
        <foreach collection="weakPwdList" item="weakPwd" separator=",">
            (#{weakPwd.id,jdbcType=INTEGER},#{weakPwd.uName,jdbcType=VARCHAR},#{weakPwd.uPwd,jdbcType=VARCHAR},#{weakPwd.mac,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tpp.threat_perception_platform.pojo.WeakPwd">
        update weak_pwd
        <set>
                <if test="uName != null">
                    u_name = #{uName,jdbcType=VARCHAR},
                </if>
                <if test="uPwd != null">
                    u_pwd = #{uPwd,jdbcType=VARCHAR},
                </if>
                <if test="mac != null">
                    mac = #{mac,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tpp.threat_perception_platform.pojo.WeakPwd">
        update weak_pwd
        set 
            u_name =  #{uName,jdbcType=VARCHAR},
            u_pwd =  #{uPwd,jdbcType=VARCHAR},
            mac =  #{mac,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
